@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles.css */
.card-container {
  display: flex;
  justify-content: space-between; /* Adjust this based on your desired spacing */
  gap: 20px; /* Adjust this to control the gap between cards */
  flex-wrap: wrap; /* Allow cards to wrap to the next row if needed */
} 

.card-custom {
  width: 600px;
  height: 600px;
  padding: 20px;
  overflow: hidden;
  background-color:#F4F4F4; /* Hide any content that overflows the card */
  /* Add more styles as needed */
}

.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.red-border {
  border: 2px solid black;
}
@media (max-width: 768px) {
  .gallery div {
    height: 25vh;
  }
}
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
